@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

.custom-allotment {
  --separator-border: #dbdde1;
  --focus-border: #dbdde1;
}

.custom-allotment-dark {
  --separator-border: #5b6b86;
  --focus-border: #5b6b86;
}

@layer utilities {
  .custom-scroll-hidden {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .custom-scroll-hidden::-webkit-scrollbar {
    display: none;
  }
}

.mantine-Spotlight-actionsGroup::before {
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  color: #6f7785;
  margin-bottom: 4px;
  padding-left: 0;
}

[data-mantine-color-scheme='dark'] .mantine-Spotlight-actionsGroup::before {
  color: #a8b3c4;
}

.resizer {
  position: absolute;
  top: 0;
  height: 100%;
  right: 0px;
  width: 4px;
  cursor: col-resize;
  user-select: none;
  touch-action: none;
  opacity: 0;
  z-index: 9999;
}

.resizer.isResizing {
  opacity: 1;
}

.cm-editor {
  background: transparent;
}

.cm-editor.cm-focused {
  outline: none;
}

.ͼ1 .cm-highlight-statement {
  border-left: 0px !important;
}

.cm-gutterElement {
  font-family: 'IBM Plex Mono', monospace;
  padding-left: 10px !important;
}

.cm-completionDetail {
  font-family: 'IBM Plex Mono', monospace;
  opacity: 0.6;
}

.cm-tooltip.cm-tooltip-cursor {
  background: #242b35;
  border: 1px solid #dbdde1;
  color: #fff;
  padding: 4px 8px;
  font-size: 14px;
  max-width: 300px;
}

.cm-completionIcon-database:after {
  content: url('/assets/database.svg');
}
.cm-completionIcon-table:after {
  content: url('/assets/table.svg');
}
.cm-completionIcon-schema:after {
  content: url('/assets/schema.svg');
}
[data-mantine-color-scheme='dark'] .cm-completionIcon-database:after {
  content: url('/assets/database-dark.svg');
}
[data-mantine-color-scheme='dark'] .cm-completionIcon-table:after {
  content: url('/assets/table-dark.svg');
}
[data-mantine-color-scheme='dark'] .cm-completionIcon-schema:after {
  content: url('/assets/schema-dark.svg');
}
